*{
	padding: 0;
	margin:0;
}
.wrapper{
	width: 100%;
	margin: auto;
}
.header{
	width: 100%;
	height: 100px;
	background: #DCDCDC;
	text-align: center;
}
.header-link {
	background: url(../images/bg-left.png) repeat-x;
	width:1370px;
	min-height: 38px;
	margin-left: -8px;
	clear: both;
}
.header-link ul li{
	float: left;
	padding: 10px 30px;
	list-style: none;
	border-right: 1px solid #E55E29;
}
.header-link ul li:first-child{
	margin-left: 46px;
}
.header-link ul li:last-child{ 
	border-right: none;
}
.header-link ul li a:hover {
	background-color: #6CBA55;
	padding: 10.5px 30px;
	margin: 0px -30px;
}
.header-link ul li a {
	text-decoration: none;
	font-weight: bold;
	color: #FFF;	
}

.link{
	width: 150px;
	min-height: 180px;
	background: #251122;
	margin-left: 50px;
	border-radius: 8px 8px 8px 8px;
}
.link ul li{
	list-style:  none;
	padding: 5px 24px;
	border: 1px solid #FFF;
	border-collapse: collapse;
	position: relative;

}

.link ul li a{
	text-decoration: none;
	color: #FFF;
	font-size: 17px;

}
.link ul li a:hover{
	color: red;
}
.link ul li:hover .sub-menu{
	display: block;
}
.link .sub-menu {
	position: absolute;
	left: 148px;
	top: 0px;
	background: #251122;
	width: 150px;
	min-height: 100px;
	border-radius: 0px 8px 8px 8px;
	display: none;
}